*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(img/download\ \(3\).jpg);
    background-position: center;
    background-size: cover;

    padding: 10px 10%;
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
     

}

nav{ 
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
 .logo{ 
    width: 140px;


 }
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
 }
nav ul li a{
    text-decoration: none;
    color: aqua;
    font-weight: 400;
}
.site-btn{
    text-decoration: none;
    color:blue ;
    margin-right: 15px;
    font-weight: 400;

}
.btn{
    display: inline-block; 
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition:1s ;



}

.content{
    margin-top: 10%;
    max-width: 600px;
    color: powderblue;


}
.content h1{
    font-size: 70px;
    color: #fff;
}
 .content p{
    margin:10px 0 30px ;
    color: aqua;
    animation-delay: 1.5s;

 }
 .content btn{
    padding: 15px 80px;
    font-size: 20px;
    animation-delay: 2s;

 }
 .btn:hover{
    border-top-right-radius: 30px;
 }
  
 .feature{
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 20%;

 }
  .feature.anim img{
    width: 100%;
    height: 100%;
  }
  .top-image{
    position: absolute;
    left:0;
    top: 0;
    opacity: 0;
    transition: 2s;

  }
  .top-image:hover{
    opacity: 1;

  }
 .feature.anim{
    animation-delay: 2.5s;
 }
 .anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 1.5s linear forwards;
 }
 @keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);

    }
 }
 

 
